div.text-editable__text-editable___2xY0f {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

textarea.text-editable__text-editable___2xY0f {
  overflow: auto;
  resize: none;
  outline: none;
  background: transparent;
  border: 0;
  width: 100%;
}
.tree-link {
  position: relative;
  padding-left: 10px
}

.tree-link::before,
  .tree-link::after {
  content: '';
  position: absolute;
  left: 0;
  background-color: #ddd
}

.tree-link::before {
  top: 20px;
  width: 10px;
  height: 1px;
  margin: auto
}

.tree-link::after {
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%
}

.tree-link:last-child::after {
  height: 20px
}

.tree-link-group {
  padding-left: 10px;
  list-style: none
}

.tree-link-group.hide {
  display: none
}

.tree-link-group.root {
  padding-left: 22px;
  background: rgba(0, 0, 0, .02)
}
.tab__tab___3wgbG {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*justify-content: space-between;*/
  height: 40px;
  padding-right: 12px
}
.tab__tab___3wgbG:hover {
  background: rgba(0, 0, 0, .05)
}
.tab__tab___3wgbG:hover .edit-button {
  opacity: 0.4
}
.tab__tab___3wgbG.root {
  height: 48px;
  border-top: 1px solid #EAEBED;
  padding: 0 12px
}
.tab__tab___3wgbG.select {
  color: #f75b50
}
.tab__tab___3wgbG.hover-source {
  background-color: rgba(247, 91, 80, .1)
}
.tab__tab___3wgbG.hover-preview {
  background-color: #EAEBED
}
.tab__tab___3wgbG .icon {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px
}
.tab__tab___3wgbG .icon.leaf {
  font-size: 16px
}
.tab__tab___3wgbG .tab-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1
}
.tab__tab___3wgbG .edit-button {
  cursor: pointer;
  font-size: 16px;
  padding: 0 2px;
  opacity: 0
}
.tab__tab___3wgbG .edit-button:hover {
  opacity: 1
}
.tab-tree-root__tab-tree-root___3oySv {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 240px
}
.tab-tree-root__tab-tree-root___3oySv .bar {
  padding: 2px 8px;
  height: 48px
}
.tab__tab___3AX5S {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*justify-content: space-between;*/
  height: 40px;
  padding: 0 12px;
  border-top: 1px solid #EAEBED
}
.tab__tab___3AX5S:hover {
  background: rgba(0, 0, 0, .05)
}
.tab__tab___3AX5S:hover .edit-button {
  opacity: 0.4
}
.tab__tab___3AX5S.select {
  color: #f75b50
}
.tab__tab___3AX5S.hover-source {
  background-color: rgba(247, 91, 80, .1)
}
.tab__tab___3AX5S.hover-preview {
  background-color: #EAEBED
}
.tab__tab___3AX5S .icon {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px
}
.tab__tab___3AX5S .icon.leaf {
  font-size: 16px
}
.tab__tab___3AX5S .tab-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1
}
.tab__tab___3AX5S .edit-button {
  cursor: pointer;
  font-size: 16px;
  padding: 0 2px;
  opacity: 0
}
.tab__tab___3AX5S .edit-button:hover {
  opacity: 1
}
.tab-list-root__tab-list-root___aj84o {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar { width: 8px; height: 8px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, .4);
  border-radius: 4px
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, .6);
}

div { box-sizing: border-box; margin: 0; padding: 0; }

button, .button {
  margin: 0;
  padding: 4px 8px;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  background-color: transparent;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, .1)
}

button:hover, .button:hover {
  color: #222;
  background-color: rgba(255, 255, 255, .2);
}

button:active, .button:active {
  color: #666;
  background-color: rgba(255, 255, 255, .4);
}

button.selected, .button.selected {
  color: #444;
  text-shadow: 0 0 4px #fff;
}

body {
  overflow-y: auto;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 600px;
  margin: 24px auto;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1)
}

.panel .preview {
  overflow: auto;
}

.panel .log {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 16px 24px;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, .1);
  overflow-y: auto;
}

.panel.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.panel.horizontal .preview {
  width: 500px;
}

.panel.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
